/*@media screen and (max-width: 660px) {



}
*/

@media screen and (max-width: 480px) {

#heading {
	text-align: left;
	font-size:.6em;
}

h1 {
	margin-left: 10em;
	visibility: clear;
}


#heading p {
	margin-left: 10em;
	visibility: clear;
	background-size: contain;
}

.intro {
	font-size: .75em;
}

.intro2 {
	font-size: .75em;
}

#weatherCast {
	position: left;
	float: left;
	margin-top: 50em;
	margin-left: 0;
	text-align: left;
}

.wrapper {
	padding-top: 1em;
}

#nearByShops {
	margin-left: 2em;
}

#Map {
	margin-left: 1em;
	width: 200px;
	height: 50px;
}





















}